.header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  &__link {
    display: inline-block;
    height: 100%;
  }
}

.logo {
  width: 100px;
}
