@import 'src/assets/styles/variables';

.movie-details {
  height: calc(100vh - 140px);
  display: flex;
  margin: 20px;

  &__picture {
    width: 30%;
  }

  &__info {
    width: 70%;
    margin-left: 15px;
    padding: 20px 0;
  }

  &__header {
    display: flex;
  }

  &__title {
    font-size: 5rem;
    padding: 10px 0;
  }

  &__rating {
    border: 1px solid $white;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    color: $green;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__details {
    display: flex;
    color: $red;
    font-size: 2rem;
    padding: 20px 0;
  }

  &__year {
    margin-right: 20px;
  }

  &__genre {
    padding: 10px 0;
  }

  &__description {
    padding: 10px 0;
  }
}
