@import 'src/assets/styles/variables';

.movie-item {
  margin: 10px;
  position: relative;

  &__picture {
    min-height: 470px;
    border: 1px solid $grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $grey;
    
    :hover {
      cursor: pointer;
    }
  }

  &__info {
    margin: 10px 0;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__title {
    font-weight: bold;
  }

  &__release-date {
    border: 1px solid grey;
    padding: 3px 10px;
    font-size: 1.2rem;
    height: 2rem;
  }

  &__genres {
    font-size: 1.4rem;
  }
}
