@import './../../../assets/styles/variables';

.three-dots-menu {
  position: absolute;
  right: 0;
  padding: 3px 4px 0 9px;
  margin: 5px;
  background-color: $black;
  border: 1px solid $white;
  border-radius: 20px;
  opacity: .7;

  &:after {
    content: '\2807';
    font-size: 2rem;
  }
}
