@import 'src/assets/styles/variables';

.header {
  height: 70px;
  padding: 20px;
  position: relative;
  z-index: 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    display: inline-block;
    height: 100%;
  }
}

