@import './variables';

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-size: 62.5%;
}

body {
  font-family: $open-sans;
  background-color: $grey;
  color: $white;
  font-size: 1.6rem;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}
