@import "src/assets/styles/variables";

.footer {
  height: 70px;
  background-color: $grey;
  padding: 20px;

  &__link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
