@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.movie-delete {
  &__title {
    text-transform: uppercase;
    font-size: 2.5rem;
    padding: 10px;
  }

  &__description {
    padding: 10px;
  }

  &__button {
    @include button();

    &-wrapper {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
    }

    &--confirm {
      background: $red;
      color: $white;

      &:hover {
        background: $dark-grey;
        color: $red;
        border: 1px solid $red;
      }
    }
  }
}


